<form method: "get">
  <input style="margin: 10px 0px" name="find" placeholder="search keyword"> 
  <input style="margin: 10px 0px" name="location" placeholder="search location"> 
  <button>Search</button>
</form>
