<p id="notice"><%= notice %></p>

<section class="banner">
<hr>
<h1>Schools</h1>
</section>

<h2 style="color:green">There are <%= @schools.count %> schools.</h2>

<table>
  <thead>
    <th>School</th>
    <th>Vendors</th>
  </thead>
  <tbody>
    <tr><% @schools.each do |school| %></tr>
      <td><%= link_to school.name, school_path(school) %></td>
      <td><%= school.vendors.count %></td>
    <% end%>
  </tbody>
</table>
